@font-face {
    font-family: "pazirik_Bold" ;
    src: url(../font/Snapp_Food/Snapp\ Web\ Bold.ttf);
}
@font-face {
    font-family: "pazirik_Light" ;
    src: url(../font/Snapp_Food/Snapp\ Web\ Light.ttf);
}
@font-face {
    font-family: "pazirik_Regular" ;
    src: url(../font/Snapp_Food/Snapp\ Web\ Regular.ttf);
}