@font-face {
    font-family: "pazirik_Bold" ;
    src: url(../font/Snapp_Food/SnappWebBold.ttf);
}
@font-face {
    font-family: "pazirik_Light" ;
    src: url(../font/Snapp_Food/SnappWebLight.ttf);
}
@font-face {
    font-family: "pazirik_Regular" ;
    src: url(../font/Snapp_Food/SnappWebRegular.ttf);
}