@import "./reset.css";
@import "./font.css";
html {
  font-size: 62.5%; /* موبایل */
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 75%; /* تبلت */
  }
  
}

@media (min-width: 1200px) {
  html {
    font-size: 87.5%; /* لپ‌تاپ */
  }
  .continer{
    background-position: 0px -500px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 100%; /* مانیتور بزرگ */
  }
}
body {
  font-size: 1.5rem;
  font-family: "pazirik_Regular";
  
}
.swal2-actions{
  direction: ltr;
}
.swal2-confirm{
  background-color: rgb(22, 121, 9);
  font-family: "pazirik_Regular";
  font-weight: bold;
  padding: 10px 15px !important;
  font-size: 1.2rem;
}
.swal2-confirm:hover{
  background-color: rgba(22, 121, 9, 0.397);
  
}
.swal2-cancel{
  color: rgb(236, 33, 33);
  background-color: rgba(236, 33, 33, 0.226);
  font-family: "pazirik_Regular";
  font-weight: bold;
  padding: 10px 15px !important;
  font-size: 1.2rem;
}
.swal2-cancel:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(236, 33, 33);
  
}
.swal2-icon-content{
  margin-top: 14px;
}