@import url(./reset.css);
@import url(./font.css);
html {
  font-size: 62.5%; /* موبایل */
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 75%; /* تبلت */
  }
  
}

@media (min-width: 1200px) {
  html {
    font-size: 87.5%; /* لپ‌تاپ */
  }
  .continer{
    background-position: 0px -500px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 100%; /* مانیتور بزرگ */
  }
}
body {
  font-size: 1.5rem;
  font-family: "pazirik_Regular";
  
}
