@import url(./reset.css);
@import url(./font.css);
html {
  font-size: 62.5%; /* موبایل */
  box-sizing: border-box;
  font-family: "pazirik_Rgular";
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  font-family: "pazirik_Regular";
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #6d6d6d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
