@import url(./reset.css);
@import url(./font.css);
html {
  font-size: 62.5%; /* موبایل */
  box-sizing: border-box;
  font-family: "pazirik_Rgular";
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    font-size: 75%; /* تبلت */
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 67.5%; /* لپ‌تاپ */
  }
  .continer {
    background-position: 0px -500px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 80%; /* مانیتور بزرگ */
  }
}
body {
  font-size: 1.5rem;
  font-family: "pazirik_Regular";
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #6d6d6d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: rgb(249, 71, 71);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}
