@import url(./font.css);

:root {
  --primary-color: 249, 71, 71;
  --primary-font: "pazirik_Regular";
  --secend-font: "pazirik_Bold";
  --primary-back-color: #585858;
  --secend-back-color: #444;
}
