@import "tailwindcss";
@import "../variables.css";
@import "../font.css";

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-back-color);
  font-family: var(--secend-font);
  
}
.main{
  @apply w-full h-[100vh] flex flex-col justify-center items-center absolute
}
.login-continer {
  @apply w-[300px] m-auto bg-[var(--secend-back-color)] flex flex-col items-center rounded-2xl py-10;
}
.login__title {
  @apply text-[4rem] text-[rgb(var(--primary-color))] mt-[20px] cursor-none
}
.login__username-input{
    @apply w-[250px] h-[40px]  rounded-lg my-4 mt-[50px] border-[1px] border-[#727272] px-5 text-white text-[1.6rem] pt-3 cursor-text
}
.login__password-input{
    @apply w-[250px] h-[40px] rounded-lg my-4 border-[1px] border-[#727272] px-5 text-white text-[1.6rem] pt-3 cursor-text
}
.login__Btn{
    @apply w-[250px] h-[40px] bg-[rgb(var(--primary-color))] rounded-lg my-4 text-white text-[1.6rem] duration-300 cursor-pointer flex justify-center items-center
}
.login__Btn:hover{
    @apply bg-[rgb(var(--primary-color),.8)]
}
.login__back-menu{
    @apply w-[250px] h-[40px] text-[rgb(var(--primary-color))] rounded-lg my-4  text-[1.6rem] cursor-pointer flex justify-center items-center duration-300
}
.login__back-menu:hover{
    @apply bg-[rgb(var(--primary-color),.1)]
}