@import "tailwindcss";
@import "../variables.css";
@import "../font.css";

body{
  @apply bg-[var(--primary-back-color)]
}

.top-section {
  @apply w-full fixed top-0 z-20 shadow-2xl;
}
.header {
  @apply w-full h-[55px] flex justify-between items-center bg-[var(--secend-back-color)];
}
.header__back-icon {
  @apply ml-8;
}
.header__back-icon i {
  @apply text-[1.6rem] text-white;
}
.header__logo {
  @apply mr-8 flex justify-center items-center gap-3;
}
.header__logo h1 {
  font-family: var(--secend-font);
  @apply text-[1.6rem] text-white;
}
.header__logo img {
  @apply w-[40px] h-[40px] rounded-[50px];
}

.categorys {
  @apply overflow-y-auto h-[65px]  bg-[var(--secend-back-color)] flex  justify-start gap-5 px-5 items-center  rounded-b-[10px] -mt-0.5;
}
.categorys__item {
  font-family: var(--secend-font);
  @apply text-[1.3rem] text-white  duration-300  border-[1px] border-white px-5 h-[37px] flex justify-center items-center pt-2 rounded-[30px] text-nowrap cursor-pointer;
}
.categorys__item:hover {
  @apply  scale-[104%] text-shadow-gray-200 text-shadow-2xs shadow-white shadow-xs
}
.categorys__item.select {
  @apply  bg-[rgb(var(--primary-color))] border-[rgb(var(--primary-color))] scale-110;
}

.main{
  @apply w-full   mt-[120px] flex flex-col justify-start items-center gap-8 py-8
}
.cat__continer{
  @apply w-[90%]  sm:max-w-[800px] bg-[var(--secend-back-color)] flex flex-col justify-center items-center gap-5 py-8 cursor-default shadow-2xl
}
.cat__title{
  @apply w-[90%]  flex justify-center items-center relative mt-[10px]
}
.cat__title p{
  font-family: var(--secend-font);
  @apply text-[1.8rem] text-[rgb(var(--primary-color))] bg-[var(--secend-back-color)] px-3 z-10 text-shadow-rose-950 text-shadow-lg
}
.cat__title::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.cat__list-items{
  @apply w-[90%] flex flex-col justify-start items-center gap-10 py-10 mt-[10px]
}
.cat__item{
  @apply w-[90%]  flex flex-col justify-center gap-4
}
.cat__item--name-price{
  font-family: var(--secend-font);
  @apply flex justify-between items-center text-white text-[1.2rem] relative
}
.cat__item--name-price::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .5px;
  background-color: #fff;
}
.cat__item--price{
  @apply px-4 bg-[var(--secend-back-color)] z-10 -ml-0.5
}
.cat__item--name{
  @apply px-4 bg-[var(--secend-back-color)] z-10 -mr-0.5
}
.cat__item--about{
  font-family: var(--primary-font);
  @apply flex justify-end items-center pr-4 text-gray-400 text-[1rem]
}