
@layer properties;
@layer theme, base, components, utilities;
@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-red-500: oklch(63.7% 0.237 25.331);
    --color-red-600: oklch(57.7% 0.245 27.325);
    --color-yellow-500: oklch(79.5% 0.184 86.047);
    --color-green-500: oklch(72.3% 0.219 149.579);
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-rose-950: oklch(27.1% 0.105 12.094);
    --color-gray-200: oklch(92.8% 0.006 264.531);
    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --font-weight-light: 300;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --blur-xs: 4px;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }
}
@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }
  b, strong {
    font-weight: bolder;
  }
  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  :-moz-focusring {
    outline: auto;
  }
  progress {
    vertical-align: baseline;
  }
  summary {
    display: list-item;
  }
  ol, ul, menu {
    list-style: none;
  }
  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }
  img, video {
    max-width: 100%;
    height: auto;
  }
  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }
  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }
  ::file-selector-button {
    margin-inline-end: 4px;
  }
  ::placeholder {
    opacity: 1;
  }
  @supports (not (-webkit-appearance: -apple-pay-button))  or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentcolor;
      @supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }
  textarea {
    resize: vertical;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }
  ::-webkit-datetime-edit {
    display: inline-flex;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  ::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }
  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  button, input:where([type="button"], [type="reset"], [type="submit"]), ::file-selector-button {
    appearance: button;
  }
  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
  }
  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}
@layer utilities {
  .hidden {
    display: none;
  }
}
@import url(./font.css);
:root {
  --primary-color: 249, 71, 71;
  --primary-font: "pazirik_Regular";
  --secend-font: "pazirik_Bold";
  --primary-back-color: #585858;
  --secend-back-color: #444;
}
@font-face {
  font-family: "pazirik_Bold";
  src: url(../font/Snapp_Food/SnappWebBold.ttf);
}
@font-face {
  font-family: "pazirik_Light";
  src: url(../font/Snapp_Food/SnappWebLight.ttf);
}
@font-face {
  font-family: "pazirik_Regular";
  src: url(../font/Snapp_Food/SnappWebRegular.ttf);
}
body {
  background-color: var(--primary-back-color);
}
.top-section {
  position: fixed;
  top: calc(var(--spacing) * 0);
  z-index: 20;
  width: 100%;
  --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.header {
  display: flex;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secend-back-color);
}
.header__back-icon {
  margin-left: calc(var(--spacing) * 8);
}
.header__back-icon i {
  font-size: 1.6rem;
  color: var(--color-white);
}
.header__logo {
  margin-right: calc(var(--spacing) * 8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 3);
}
.header__logo h1 {
  font-family: var(--secend-font);
  font-size: 1.6rem;
  color: var(--color-white);
}
.header__logo img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.categorys {
  margin-top: calc(var(--spacing) * -0.5);
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing) * 5);
  overflow-y: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--secend-back-color);
  padding-inline: calc(var(--spacing) * 5);
}
.categorys__item {
  font-family: var(--secend-font);
  display: flex;
  height: 37px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 5);
  padding-top: calc(var(--spacing) * 2);
  font-size: 1.3rem;
  text-wrap: nowrap;
  color: var(--color-white);
  --tw-duration: 300ms;
  transition-duration: 300ms;
}
.categorys__item:hover {
  scale: 104%;
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-shadow-color: #fff;
  @supports (color: color-mix(in lab, red, red)) {
    --tw-shadow-color: color-mix(in oklab, var(--color-white) var(--tw-shadow-alpha), transparent);
  }
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
  --tw-text-shadow-color: oklch(92.8% 0.006 264.531);
  @supports (color: color-mix(in lab, red, red)) {
    --tw-text-shadow-color: color-mix(in oklab, var(--color-gray-200) var(--tw-text-shadow-alpha), transparent);
  }
}
.categorys__item.select {
  --tw-scale-x: 110%;
  --tw-scale-y: 110%;
  --tw-scale-z: 110%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
}
.main {
  position: relative;
  margin-top: 120px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing) * 8);
  overflow-y: auto;
  padding-block: calc(var(--spacing) * 8);
  height: calc(100vh - 120px);
}
.cat__continer {
  display: flex;
  width: 90%;
  cursor: default;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 5);
  background-color: var(--secend-back-color);
  padding-block: calc(var(--spacing) * 8);
  --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  @media (width >= 40rem) {
    max-width: 800px;
  }
}
.cat__title {
  position: relative;
  margin-top: 10px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.cat__title p {
  font-family: var(--secend-font);
  z-index: 10;
  background-color: var(--secend-back-color);
  padding-inline: calc(var(--spacing) * 3);
  font-size: 1.8rem;
  color: rgb(var(--primary-color));
  text-shadow: 0px 1px 2px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)), 0px 3px 2px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1)), 0px 4px 8px var(--tw-text-shadow-color, rgb(0 0 0 / 0.1));
  --tw-text-shadow-color: oklch(27.1% 0.105 12.094);
  @supports (color: color-mix(in lab, red, red)) {
    --tw-text-shadow-color: color-mix(in oklab, var(--color-rose-950) var(--tw-text-shadow-alpha), transparent);
  }
}
.cat__title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.cat__list-items {
  margin-top: 10px;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing) * 10);
  padding-block: calc(var(--spacing) * 10);
}
.cat__item {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
}
.cat__item--name-price {
  font-family: var(--secend-font);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--color-white);
}
.cat__item--name-price::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .5px;
  background-color: #fff;
}
.cat__item--price {
  z-index: 10;
  margin-left: calc(var(--spacing) * -0.5);
  background-color: var(--secend-back-color);
  padding-inline: calc(var(--spacing) * 4);
}
.cat__item--name {
  z-index: 10;
  margin-right: calc(var(--spacing) * -0.5);
  background-color: var(--secend-back-color);
  padding-inline: calc(var(--spacing) * 4);
}
.cat__item--about {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: calc(var(--spacing) * 4);
  font-size: 1rem;
  color: var(--color-gray-400);
}
.loader-continer {
  position: absolute;
  top: calc(var(--spacing) * 0);
  z-index: 50;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #444;
}
.loader-continer.hidden {
  display: none;
}
@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-ring-inset {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}
@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
@property --tw-duration {
  syntax: "*";
  inherits: false;
}
@property --tw-text-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-text-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}
@layer properties {
  @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *, ::before, ::after, ::backdrop {
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-border-style: solid;
      --tw-duration: initial;
      --tw-text-shadow-color: initial;
      --tw-text-shadow-alpha: 100%;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}
